.actionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  padding: 80px 20px 0;
}

.button {
  width: 70%;
  margin-left: 30px !important;
  margin-top: 36px !important;
  font-weight: 600 !important;
}

.logo {
  display: block;
}

.logo img {
  max-width: 420px;
  width: 100%;
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0 0;
  color: rgb(255, 255, 255);
  flex-direction: row;
}

.content {}

.feature {
  padding: 0 20px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 310px;
}

.featureTitle {
  font-size: 30px !important;
  line-height: 42px;
}

.featureTitle::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px auto 25px;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
}

.description {
  line-height: 1.3 !important;
}

.textLogo {
  max-width: 380px;
}

@media (max-width: 900px) {
  .feature:not(:first-child) {
    margin-top: 52px !important;
  }

  .textLogo {
    max-width: 290px;
  }

  .grid {
    flex-direction: column-reverse !important;
  }

  .button {
    margin-left: 0px !important;
    width: 100% !important;
  }

  .logo {
    margin-bottom: 20px;
  }

  .logo img {
    max-width: 390px;
  }
}
