.pin {
  position: relative;
  border-radius: 50%;
  border: 8px solid #000;
  width: 22px;
  height: 22px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -29px;
  left: -7px;
  border: 10px solid transparent;
  border-top: 17px solid #000;
}

.tooltip {
  /*position: relative;*/
  background: transparent;
}

.tooltip::after {
  content: '';
  position: absolute;
  left: 16px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  background: #000;
  transform: rotate(45deg);
}
